.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background: #f3f2ef;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#side-menu {
  flex: 1;
}

.square1-1 {
  background-color: green;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
.square1-2 {
  background-color: blue;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
.square1-3 {
  background-color: red;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
.square2-0 {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 5%;
}
.square2-1 {
  background-color: red;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
.square2-2 {
  background-color: yellow;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
.square2-3 {
  background-color: green;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
.square3-0 {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 5%;
}
.square3-1 {
  background-color: white;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
.square3-2 {
  background-color: red;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
.square3-3 {
  background-color: blue;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}

#main {
  flex: 2;
}

td {
  color: darkblue;
  border-color: rgb(0, 0, 0);
}

#subscriberEmail {
  background: rgb(0, 0, 0);
  margin-top: 10px;
}
#subscriber {
  background: black;
  margin-top: 10px;
}

#side-menu {
  background: #c3e6eb;
  border: #0c29e6;
  flex: 0;
}

#header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: normal;
  background-color: #f2b347;
}

#header-wrapper h1 {
  margin: 10px;
  color: #22c1d6;
}

#header-wrapper h2 {
  margin: 10px;
  margin-top: 5px;
  color: #22c1d6;
}

#avatar {
  border-radius: 75%;
  border: 4px #fff;
  padding-top: 10px;
  padding-left: 10px;
}

#sportiland {
  cursor: pointer;
  padding: 10px;
}

#job-title {
  text-align: center;
  color: #2c42d0;
}

#hobby-job-title {
  text-align: center;
  color: rgb(255, 0, 0);
}

.favorite {
  color: rgb(254, 133, 11);
  font-weight: 500;
}

.page {
  display: none;
  border-radius: 0.8rem;
  border: 2px dashed #e0dfdc;
  background: #fff;
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
}

#top-menu-bar {
  text-align: center;
  background-color: #334455;
  color: #fff;
  margin: 0;
}
#top-menu-bar li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#top-menu-bar a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  display: inline-block;
}
#top-menu-bar a:hover {
  color: #334455;
  background: #fff;
}

#skills-list li {
  font-weight: bold;
}
#skills-list span {
  color: grey;
  font-weight: 200;
}

footer {
  text-align: center;
  border-radius: 20px;
  background-color: yellow;
}
